@model IEnumerable<pratododia_project.Models.Ingrediente>

@{
    ViewData["Title"] = "ListIngredient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1 class="title text-center my-4">ListIngredient</h1>
<div class="table-responsive">
<table class="table table-striped table-bordered">
    <thead class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Restricao)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                <td>@Html.DisplayFor(modelItem => item.Restricao)</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdIngrediente" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
        </table>
    </div>
</div>
